version: '3'

services:
  mynews:
    build:
      context: .
      dockerfile: Dockerfile
    command: mynews -config /etc/config.json
    restart: always
    volumes:
      - type: bind
        source: ./config.json
        target: /etc/config.json
      - type: bind
        source: ./data.json
        target: /var/data.json
