name: CI
on: [push]
env:
  GO111MODULE: on
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go for use with actions
        uses: actions/setup-go@v6
        with:
          go-version: 1.25

      - uses: actions/checkout@v2

      - name: Run tests
        run: go test -tags=test -race ./...

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6.2